# Virtual Environment
venv/
.venv/
env/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Large Datasets (Do not push data to GitHub)
backend/data/*.csv

# Trained ML Models
backend/app/models/*.pkl

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
